@font-face {
  font-family: "San Francisco";
  src: url("../fonts/SF-Ultralight.otf");
}

@font-face {
  font-family: "San Francisco Reg";
  src: url("../fonts/SF-Regular.otf");
}

@font-face {
  font-family: "San Francisco Bold";
  src: url("../fonts/SF-Bold.otf");
}

html, body {
  background: radial-gradient(circle farthest-corner at 100% 150%, rgba(27, 27, 27, 1) 0%, rgba(0, 0, 0, 1) 100.2% ) fixed;
  background-size: contain;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "San Francisco";
  text-align: center;
  color: white;
}

h1 {
  width: 75vw;
}

.nav-logo {
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.question-notation {
  font-size: 2em;
}

.score {
  font-family: "San Francisco Reg";
  font-size: 2em;
}

.question-timer {
  position: absolute;
  right: 1.5%;
  top: 2.5%;
}

@media only screen and (max-width: 600px) {

   .MuiFormControlLabel-label  {
     font-size: 1.2rem !important;
   }

  .question-timer {
    right: 5%;
    top: 2.5%;
  }

  .question-title {
    font-size: 1.375rem;
  }

}
